/* Add CSS Styling */

p {
    background-color: rgb(255, 182, 193);
    font-family: 'Verdana', 'DejaVu San', sans-serif;
}

.size-twenty-four {
    font-size: 24px;
}

#second-element {
    color: blue;
    font-size: 36px;
}

#fourth-element {
    background-color: lightgreen;
}